[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.23.0"
pytest = "==5.4.2"
kinto-signer = "==6.1.0"
pyramid = "==1.10.4"
kinto-http = "==10.7.0"
smwogger = "==1.0"
pyfxa = "==0.7.3"
flake8 = "==3.8.2"
pytest-fxa = "*"
idna-ssl = "*"
numpy = "*"
pyyaml = "*"
pytest-asyncio = "==0.14.0"

[dev-packages]
