[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.21.0"
pytest = "==4.2.0"
kinto-signer = "==4.0.1"
pyramid = "==1.10.1"
kinto-http = "==10.1.1"
smwogger = "==1.0"
pyfxa = "==0.6.0"
flake8 = "==3.7.1"
pytest-fxa = "*"
idna-ssl = "*"

[dev-packages]
