[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.21.0"
pytest = "==4.4.0"
kinto-signer = "==5.0.0"
pyramid = "==1.10.2"
kinto-http = "==10.3.0"
smwogger = "==1.0"
pyfxa = "==0.7.1"
flake8 = "==3.7.7"
pytest-fxa = "*"
idna-ssl = "*"
numpy = "==1.16.2"
pyyaml = "*"

[dev-packages]
