version: 2
jobs:
  lint:
    docker:
      - image: circleci/python:3.8
    steps:
      - checkout

      - run:
          name: Install Poetry
          command: pip install poetry

      - run:
          name: Install Dependencies
          command: poetry install

      - run:
          name: Lint
          command: poetry run flake8

workflows:
  version: 2
  main:
    jobs:
      - lint
